/* 
    Document   : styles
    Created on : 8 nov. 2012, 09:22:21
    Author     : didier
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}


.cssform p{
    width: 300px;
    clear: left;
    margin: 0;
    padding: 5px 0 8px 0;
    padding-left: 155px; /*width of left column containing the label elements*/
    height: 1%;
}

.cssform label{
    font-weight: bold;
    float: left;
    margin-left: -155px; /*width of left column*/
    width: 150px; /*width of labels. Should be smaller than left column (155px) to create some right margin*/
}

.cssform input[type="text"]{ /*width of text boxes. IE6 does not understand this attribute*/
    width: 180px;
}

.cssform textarea{
    width: 250px;
    height: 150px;
}




